.container-general { 
    /* --Positioning-- */
    margin: 0 auto;
    /* --Block model-- */
    display: flex;
    flex-direction: column;
    border: 1px solid goldenrod;
    width: 70vw;
}

.container-header {
        /* --Block model-- */
        border: 1px solid mediumslateblue;
        display: flex;
        height: 15vh;
}
.header {
    /* --Positioning-- */
    border: 1px solid rgb(93, 175, 241);
    margin: auto 0 auto 5rem;
    /* --Block model-- */
}
.text-white {
    /*--Typography--*/
    color: #ffffff;
}
.text-black {
    /* --Positioning-- */
    padding-left: 10px;
    /*--Typography--*/
    color: #000000;
}
.header_hi {
    /*--Typography--*/
    font-size: 20px;   
}
.header_name {
    /* --Positioning-- */
    margin-bottom: 1rem;
    margin-left: 3rem;
     /*--Typography--*/
    font-size: 3rem;
    letter-spacing: 3px;   
}
.header_name__firstName {
     /* --Block model-- */
    display: inline-block;
}
.header_name__surName {
    /* --Positioning-- */
    margin-left: 20px;
     /* --Block model-- */
     display: inline-block;    
}
.header_devel {
    /* --Positioning-- */
    text-align: center;
     /*--Typography--*/
     font-size: 1.8rem;  
}

.container-main {
}
.main {
    /* --Block model-- */
    display: flex;
}

/* --left side-- */
.right-side {
    /* --Positioning-- */
    position: relative;
    margin: 0 0 0 2rem;
    /* --Block model-- */
    flex: 2;
}
/* --Background left side-- */
.right-side::before {
    /* --Positioning-- */
    position: absolute;
    top: -15vh;
    content: '';
    z-index: -10;
    /* --Block model-- */
    width: 100%;
    height: calc(100% + 15vh);
    /* --decoration-- */ 
    background: linear-gradient(100deg, black, 86%, white);
    border-left: 1px solid #ffffff;
}
.my-photo {
    /* --Positioning-- */
    text-align: center;
}
.about-me {
}
.title {
    /* --Positioning-- */
    margin-left: 2rem;
     /*--Typography--*/
     font-size: 1.5rem;
     line-height: 3.5rem;  
}
.content {
    /* --Positioning-- */
    margin: 0 2rem;
    /*--Typography--*/
    font-size: 1rem;
    line-height: 1.2;
    text-align: justify; 
    text-indent: 2rem;
}
.contacts::before {
    /* --Positioning-- */
    position: absolute;
    content: '';
    /* --Block model-- */
    width: 70%;
    /* --decoration-- */
    border-top: 2px solid #ffffff;
}
.contacts {
    /* --Positioning-- */
    margin-bottom: 1rem;
    margin-top: 1.5rem;  
}
.content_li{
    /* --Positioning-- */
    margin-bottom: 0.5rem;
}
.content_li > a {
    /* --Positioning-- */
    align-items: center;
    /* --Block model-- */
    display: flex;
}
.content_li__img {
    /* --Positioning-- */
    margin-right: 0.5rem;
    /* --Block model-- */
    height: 1.5rem;
    fill: #ffffff;
}
.content_li__resource {
    /* --Positioning-- */
    margin-left: 0.5rem;
}

/* --right side-- */
.text-content-bg {
    /*--Typography--*/
    font-size: 1.1rem;
}
.left-side {
    border: 1px solid rgb(178, 218, 32);
    /* --Positioning-- */
    /* margin-left: 1rem; */
    /* --Block model-- */
    flex: 4; 
}
.left-side-container{
    /* --Positioning-- */
    margin: 1rem auto 0 auto;
    border: 1px solid rgb(212, 32, 218);
    /* --Block model-- */
    width: 80%;
}
.education {
}
.content_li_left{
    /* --Positioning-- */
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    /* --decoration-- */
    list-style: disc;
}
.content_li_left > a {
    /* --decoration-- */
    color: #0000ff;
    text-decoration: underline;
}
.content_li_left > a:hover {
    /* --decoration-- */
    background-color: #14cee64f;
    color: #000000;
    text-decoration: underline;
}
.objective {
}
.skills {
}
.skills_li {
}
.skills_li__what {
    /* --Positioning-- */
    margin-bottom: 0.5rem;
    /*--Typography--*/
    font-weight: bold;
}
.skills_li__what:last-child {
    /* --Positioning-- */
    margin-bottom: 0;
}
.skills_li__skills {
    /* --Positioning-- */
    margin-left: 2rem;
    /*--Typography--*/
    font-style: italic;
    /* --decoration-- */
    background-color: #b6b6b63a;
}
.code {
}
.content_code {
    /* --Positioning-- */
    /* --Block model-- */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.code_img {
    /* --Block model-- */
    width: 405px;
    /* --decoration-- */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;    
} 
.content_code > figcaption{
    /* --Positioning-- */
    text-indent: 0;
    text-align: center;
    /* --Block model-- */
    width: 405px;
    /*--Typography--*/
    align-content: center;
    color: #ffffff;
    line-height: 2rem;
    font-size: 1rem;
    /* --decoration-- */
    background-color: #0808088f;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;   
}
.languages {
    /* --Positioning-- */
    margin-top: 0.5rem;
}
.languages_li__what {
    /* --Block model-- */
    display: inline-block;
    /*--Typography--*/
    font-weight: bold;
}
.languages_li__skills {
    /* --Positioning-- */
    margin-left: 1rem;
    /*--Typography--*/
    font-style: italic;
    /* --decoration-- */
    background-color: #b6b6b63a;
}
.container-footer {
}
.footer {
}
.my-git {
}
.data {
}
.rs-school {
}